
img {
  width: 200px;
  border-radius: 5px;
}

@for $i from 1 through $total-pics {
  .img-#{$i} {
    @include center-align(85%);
      margin-top: 25px;
      margin-bottom: 25px;
    @include mediaQ(small) {
      width: 38%;
    }
    @include mediaQ(medium) {
      width: 28%;
    }
    @include mediaQ(wide){
      width: 21%
    }
  }
}

.lb-data .lb-caption {
  font-size: 14px;
  @include mediaQ(medium){
    font-size: 20px;
  }
}
